.headerbar {
  background-color: #00b38f;
  border-color: #00b38f;
  padding-top: 15px !important;
}

.headertext {
  font-size: 25px !important;
}

.public_key {
  position: relative;
  line-height: 1em;
  max-height: 2em;
  /* 2 times the line-height to show 2 lines */
  overflow: hidden;
}