 user-label {
   color: #edeaea !important;
   padding: 14px !important;
   background-color: #474747 !important;
   width: 100% !important;
   font-weight: normal;
   text-align: center;
   border-radius: 5px;
   font-size: 12px;
   margin: 5px;
 }

 label.adminlabel {
   /* position: relative; */
   background: #fff !important;
   margin: 10px;
   /* top: -64px; */
   border-radius: 0px;
   cursor: pointer;
   /* padding: 5px; */
   right: 60px;
   max-width: fit-content;
 }

 .admin-details {
   position: absolute;
   margin: 5px;
   background: #fff !important;
   right: 6.35%;
   top: 55px;
   cursor: pointer;
   padding: 3px;
   max-width: -moz-fit-content;
   z-index: 1000;
   width: 26.83%;
 }

 .profile-details {
   background: #fff;
   padding: 10px;
 }

 .blockchain-details {
   padding: 10px;
   background: #00b38f;
 }

 span.username {
   float: left;
   padding-right: 10px;
 }

 span.useraddress {
   float: right;
   color: #00b38f !important;
 }

 span.logout {
   position: absolute;
   top: 27px;
   right: 40px;
   cursor: pointer;
 }

 .entitytable {
   position: relative;
   height: 150px !important;
   padding: inherit;
   top: -22px;
 }

 td {
   width: 150px !important;
   font-size: 12px;
   font-weight: normal;
 }

 .entity-row {
   /* text-align: center !important; */
 }

 .entity-quantity {
   padding-left: 100px !important;
 }

 .validation-msg {
   padding-left: 10px;
 }

 .value-validation-msg {
   padding-left: 15px;
 }

 .profile-details-span {
   text-align: right;
 }

 .user-balance {
   font-size: 25px;
   margin-top: 3%;
   color: #000;
 }

 .request-token {
   margin-top: 4% !important;
   color: blue !important;
 }

 .action-button {
   background-color: #00b38f;
   /* Green */
   border: none;
   color: white;
   width: 100%;
   /* padding: 15px 32px; */
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
 }

 .trackId {
   white-space: nowrap;
   width: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: block;
 }

 .transTo {
   white-space: nowrap;
   width: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: block;
 }

 .token {
   font-size: 9.5px;
 }

 .request-token-dialog {
   width: 25% !important;
 }

 #transactTable td p {
   margin-left: 6%;
 }

 td select {
   width: inherit;
 }

 .green_color {
   color: green;
   font-weight: bold;
 }

 .red_color {
   color: red;
   font-weight: bold;
 }

 .map {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 500px;
   display: block;
 }

 .mainTable td {
   border-bottom: 1px solid #878585;
 }

 .padding_left {
   padding-left: 7px !important;
 }

 .padding_left_1 {
   padding-left: 12px !important;
 }

 .padding_left_2 {
   padding-left: 10px !important;
 }

 .padding_left_3 {
   padding-left: 15px !important;
 }

 .zero_padding {
   padding-left: 0px !important;
 }