/************* for divs ***************/

.jumbotron {
  border-radius: 5px !important;
  background-color: #fff !important;
}

.maincontainer {
  /* background-color: #1a1a1a */
}

.padding10 {
  padding: 10px;
}

.padding15 {
  padding: 10px;
}

.margin5 {
  margin: 5px;
}

.marginl10 {
  margin-left: 10px !important;
}

.marginr10 {
  margin-right: 10px !important;
}

.maintablediv {
  height: 150px !important;
  width: 100%;
  overflow: hidden;
}

.popupcontainer {
  margin-left: auto;
  margin-right: auto;
  /* background-color: #253C2F; */
  /* width: 60% !important; */
  padding: 10px;
}

.popupcontainer input[type=text].popupinput {
  width: 90% !important;
}

.popupHeading {
  /* color: white; */
  font-weight: bold !important;
  font-size: 16px !important;
}

.a-center {
  text-align: center !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

/**************************************/

/************* for inputs (label, textbox, select) ***************/

.headertext {
  color: #ffffff !important
}

.black_color {
  color: #000000
}

.aqua_color {
  color: #00b38f !important;
}

label {
  /* color: #edeaea !important; */
  padding: 7px;
  background-color: #edeaea !important;
  width: 100%;
  font-weight: normal;
  text-align: center;
  /* border-radius: 5px; */
  font-size: 12px;
}

#transactTable label.transparentBG {
  background-color: transparent !important;
  text-align: left !important;
  color: #7f9b8b !important;
}

input[type=text] {
  box-sizing: border-box;
  background-color: #474747;
  border: #474747;
  padding: 5px;
  color: #EDEAEA;
  width: 250px;
  height: 40px;
  border-radius: 5px;
}

input[type=password] {
  box-sizing: border-box;
  background-color: #474747;
  border: #474747;
  padding: 5px;
  color: #EDEAEA;
  width: 250px;
  height: 40px;
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BBB9B9;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #BBB9B9;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #BBB9B9;
}

.buttonlarge {
  background-color: #00b38f !important;
  border: #00b38f !important;
  color: black !important;
  width: 120px !important;
  font-weight: bold;
  padding: 3px;
  border-radius: 1px;
  outline: none;
}

.buttonmedium {
  background-color: #00b38f !important;
  border: #00b38f !important;
  color: black !important;
  width: 80px !important;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  outline: none;
}

.buttonsmall {
  background-color: #00b38f !important;
  border: #00b38f !important;
  color: #00b38f !important;
  width: 30px;
  padding: 3px;
  border-radius: 5px;
  outline: none;
}

.buttonlink {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #9B9797;
  cursor: pointer;
  outline: none;
}

select {
  width: 100%;
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 5px;
  /*background: #474747;*/
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0 #474747;
  color: #EDEAEA;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 30px !important;
}

select option:hover {
  background: #474747 !important;
  color: #00b38f;
}

select option {
  background: #474747;
  color: #9B9797;
  box-shadow: inset 20px 20px #f00
}

select option:focus, select option:active {
  background: linear-gradient(#474747, #474747);
  background-color: #474747 !important;
  /* for IE */
  color: #00b38f !important;
}

select option:checked {
  background: linear-gradient(#474747, #474747);
  background-color: #474747 !important;
  /* for IE */
  color: #00b38f !important;
}

/**************************************/

/************* for table ***************/

thead td {
  /* color: #edeaea; */
  /* background: #474747; */
  font-size: 10px;
  font-weight: normal;
  border-color: #878585 !important;
  border-bottom: 1px solid #878585;
}

table td {
  /* color: white; */
  border-color: #878585 !important;
}

.table-body {
  /* height: 120px !important;
  overflow: auto; */
  height: 150px !important;
  overflow: auto;
  /* overflow-y: scroll; */
  /* padding: 10px; */
  /* -ms-overflow-style: none;   */
  /* overflow: -moz-scrollbars-none;  */
}

thead>tr, tbody {
  display: block;
}

.scrollablediv {
  /* height: 150px !important; 
   overflow-y: scroll;
  padding: 10px;
  -ms-overflow-style: none;  
  overflow: -moz-scrollbars-none;    */
}

.scrollablediv::-webkit-scrollbar {
  /* display: none;  */
}

hr {
  display: block;
  height: 1px;
  /* border-top: 1px solid #878585; */
}

#transactTable {
  width: auto !important;
}

#transactTable td {
  /* width: 20% !important; */
  padding-left: 5%;
}

#transactTable td p {
  word-break: break-all;
}

.viewtable {
  word-break: break-all;
}

.modal-dialog {
  width: 60% !important;
  top: 30%;
}

.modal-backdrop {
  opacity: 0.93 !important;
}

.error-message {
  color: #D8000C;
  background-color: transparent;
  text-align: left;
}

/*
-----------------------------------------------------------------------
    Loader
-----------------------------------------------------------------------
*/

.preloader {
  background-color: #ffffff;
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/ck-img/preloader.GIF);
  background-position: center center;
  background-repeat: no-repeat;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0.5;
}

.inactive {
  pointer-events: none;
  cursor: default;
  color: #fff;
  background-color: #D3D3D3;
  border-color: #D3D3D3;
}